# RStudio
.Rproj.user
*.Rproj

# Build & check
*.tar.gz
*.pdf
*.o
*.so
*.log
.Rd2pdf*/
Rplots.pdf

# Outputs temporários
fimpute_run*/
plink_*/
SNPtools.Rcheck/
.Rcheck/

# MacOS
.DS_Store

# Docs auxiliares
inst/doc
/doc/
/Meta/

# Pkgdown outputs temporários (caso não queira versionar)
docs/

# Images temporárias
# *.png
